@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'red_hat';
    src: url('./assets/fonts/static/RedHatText-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: red_hat;
}